//color-backgraund
$body-color: #e4dece;

// breakpoint
$desktop-md: 1078px;
$tablet-md: 997px;
$tablet: 932px;
$mobile-gt: 796px;
$mobile: 623px;
$mobile-md: 460px;
$mobile-small: 430px;

// url font
$fonts: "../fonts/";